@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 13px;
  font-weight: 400;
}

h2 {
  color: #d93025;
  font-weight: 500;
  font-size: 20px;
}

h3 {
  font-weight: 400;
  font-size: 16px;
}

.outer-box {
  width: 15%;
  float: left;
}

.search-group {
  padding-bottom: 5px;
}

.header-links {
  margin-left: auto;
  font-family: sans-serif;
  font-size: small;
}

.header-links a,
.header-links-adv div a {
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.header-links,
.header-index {
  display: flex;
  align-items: center;
}

.header-links-adv {
  font-family: sans-serif;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 40px;
}

#header-1 {
  padding-top: 10px;
  padding-left: 10px;
  flex-grow: 1;
}

#header-1 span {
  font-size: 20px;
  font-weight: 600;
}

#header-2 {
  flex-grow: 3;
}

#header-3 a {
  flex-grow: 1;
  text-decoration: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-size: 85px;
  padding-top: 175px;
  padding-bottom: 75x;
}

#g {
  color: #4285f4;
}

#o1,
#e {
  color: #db4437;
}

#o2 {
  color: #f4b400;
}

#l {
  color: #0f9d58;
}

.center .searchbar input[type="text"] {
  border-color: #bcbaba;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 500px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.buttons input {
  font-size: 14px;
  background-color: #f8f9fa;
  width: 150px;
  border-width: 0px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 5px 10px 5px;
}

input[value="Advanced Search"] {
  background-color: #4d90fe;
  border-width: 0px;
  padding: 12px 10px 12px 10px;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 700;
}

.adv-button {
  margin-top: 10px;
  width: 75%;
  float: right;
}

hr {
  border-color: #dcdcdc;
}

.container,
h2 {
  margin-left: 30px;
}

.input-box input {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;

  padding: 5px;
}

.search-group {
  padding-bottom: 20px;
}
