@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
}

.adv-body {
  background-color: #202124;
  color: #BDC1C6;

}
.adv-body .header .header-links a {
  color: #BDC1C6;
}

h2 {
  color: #F28B82;
}

h3 {
  color:#FFFFFF;
}

.outer-box {
  width: 15%;
  float: left;
}

.search-group {
  padding-bottom: 5px;
}

.header-links a {
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.header , .header-links {
    display: flex;
    align-items: center;
}

.header-links {
   margin-left: auto;
   font-family: sans-serif;
   font-size: small;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'Nunito', sans-serif;
  font-size: 85px;
  padding-top: 175px;
  padding-bottom: 75x;
}

#g {
  color:#4285f4
}

#o1, #e {
  color: #db4437;
}

#o2 {
  color: #f4b400;
}

#l {
  color:#0f9d58;
}

.center .searchbar input[type="text"]{
  border-color: #bcbaba;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 500px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.buttons input {
  font-size: 14px;
  background-color: #f8f9fa;
  width: 150px;
  border-width: 0px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 5px 10px 5px;
}

input[value="Advanced Search"] {
  background-color: #8AB4F8;
  border-width: 0px;
  padding: 12px 10px 12px 10px;
  border-radius: 2px;
}

.adv-button {
  margin-top: 10px;
  width: 72%;
  float: right;
}

.container, h2 {
   margin-left: 30px;
}

.input-box input {
  width:300px;
  background-color: #202124;
  border: 2px solid #2D2E30;
  color:#ffffff;
}

.header p {
  float: left;
  font-size: large;
  margin-left: 0;
}